<?xml version="1.0" encoding="utf-8" ?>
<!-- 配置bean子标签，每一个bean子标签都代表一个类的配置 -->
<beans>
    <!-- id标识对象，class代表类的全路径-->
    <bean id="accountDao" class="com.test.transfer.dao.impl.JdbcAccountDaoImpl">
        <property name="ConnectionUtils" ref="connectionUtils"/>
    </bean>
    <bean id="transferService" class="com.test.transfer.service.impl.TransferServiceImpl">
        <property name="AccountDao" ref="accountDao"></property>
    </bean>

    <!-- 链接管理对象 -->
    <bean id="connectionUtils" class="com.test.transfer.utils.ConnectionUtils"></bean>

    <!-- 事务管理器 -->
    <bean id="transactionManager" class="com.test.transfer.utils.TransactionManager">
        <property name="ConnectionUtils" ref="connectionUtils"/>
    </bean>

    <!-- 代理工厂 -->
    <bean id="proxyFactory" class="com.test.transfer.factory.ProxyFactory">
        <property name="TransactionManager" ref="transactionManager"/>
    </bean>
</beans>